Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/LandscapeMountains/Maps/LandscapeMap.umap
Content/LandscapeMountains/Maps/LandscapeMap_BuiltData.uasset
